
*{
    box-sizing: border-box;
    margin: 0;
}

/*type selectors*/

html{
    text-align: center;
    font-family: Oswald, monospace, sans-serif;
   
}

header{
    background:black;
    color:white;
    padding:2px
}

h2{
    margin-top:2px;
    margin-bottom:50px;
    padding-top: 50px;
    color: black;
}

h3{
    margin:5px 0;
}

img{
    max-width:90%;
    border: 10px;;
}

div{
    margin-bottom: 0
}

footer{
    background:black;
    color:white;
    padding:2px;
    margin-top:5px ;
}

li{
    margin:0.5em;
    padding: 5px;
    background:rgb(0, 0, 0);
    border-radius: 10px;
    
}

ul{
    padding:0 20px;
}

/*anchor styles*/

a{
    text-decoration: none;
    color:white;
}

a:visited{
    color: chartreuse;
}


section{
    padding:0 30px 0 30px;
}

.column p{
    margin:0 30px 30px;  
}

/*class selectors*/

.main{
    background:gray;
    color: black;
    padding-top: 10px;
}

.profile_picture{
    padding:20px 20px;
    border-radius:10%;
}

.main_nav{
    padding-right: 20px;
    background: black;
    list-style-type: none;
}

.last {
    display:flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
.name{
   padding: 20px;
   text-align: center;
}

.name_top{
    padding-top:20px;
}

.dev{
    padding-left: 20px;
}

/*id selectors*/

#introduction{
    padding:40px;
    color: black;
    
}

#Contact{
    color:white;
}

#footer-nav{
    display: none;
}


  

/* Media Query */

@media screen and (min-width: 768px) {
    .intro-header,
    .main_nav,
    .col,
    .main{
        display: flex;
    }

    .intro-header{
        flex-direction:column;
        align-items: center;
    }

    .col{
        flex-direction: row-reverse;
    }

    .main{
        flex-wrap: wrap;
    }

    .column{
        max-width: 50%;
    }

    .column img{
        width:80%;
    }

    #footer-nav{
        display: flex;
      
    }

    #footer-nav ul{
        display: flex;
        justify-content: space-around;
        list-style: none;
    }

    nav ul{
        display: flex;
     }

    nav li{
        background: none;
    }

    .name_top{
        display: none;
    }

    .last_footer{
        display:flex;
        justify-content: space-around;
        flex-direction: row;
    }

    


}

@media screen and (min-width: 1024px){
    .intro-header{
        flex-direction: row;
        justify-content:space-between;
    }
    .col p{
        flex-direction:column;
        float: right;
    }

    .main{
        margin-left: auto;
        margin-right: auto;
    }




    .column p{
        width:80%;
        align-content: center;
   
    }

    .column{
        width:30%;
    }

    div.column{
        margin-left:30px;
    }

    section{
        padding:0 60px 60px 60px;
    }


}